<!-- <div class="mb-3">
  <input [(ngModel)]="search" class="form-control" placeholder="Pesquisar..." (keyup)="pesquisar()">
</div>

<ul class="list-group">
  <li *ngFor="let empresa of empresas" class="list-group-item d-flex justify-content-between">
    <div>
      <strong>{{ empresa.nome }}</strong><br>
      <small>{{ empresa.numero }}</small>
    </div>
    <div>
      <button class="btn btn-warning btn-sm" (click)="editar = empresa">Editar</button>
      <button class="btn btn-danger btn-sm" (click)="remover(empresa.id!)">Excluir</button>
    </div>
  </li>
</ul>

<div class="mt-3">
  <button class="btn btn-secondary" (click)="paginaAnterior()" [disabled]="page <= 1">Anterior</button>
  <button class="btn btn-secondary" (click)="proximaPagina()">Próxima</button>
</div> -->
