<nav class="navbar navbar-expand-lg shadow navbar-custom">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">INÍCIO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PORTAL DE ACESSO
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="openModal('cpa')">CPA - Comissão Própria de Avaliação</a></li>
              <li><a class="dropdown-item" (click)="openModal('bibliotecaDigital')">Biblioteca Digital</a></li>
              <li><a class="dropdown-item" (click)="openModal('biblioteca')">Biblioteca</a></li>
              <li><a class="dropdown-item" (click)="openModal('diplomas')">Diplomas</a></li>
              <li><a class="dropdown-item" (click)="openModal('estagios')">Estágios</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">BLOG</a>
          </li>
                  <li class="nav-item">
          <a class="nav-link" href="#institucional">INSTITUCIONAL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#campus">CAMPUS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#cursos">CURSOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contatos">CONTATOS</a>
        </li>

        </ul>
      </div>
    </div>
  </nav>
  