  <!-- Menu -->

  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-navFKB">
      <div class="container-fluid">
        <!-- Logo ou título (opcional) -->
        <a class="navbar-brand" href="/">FKB</a>

        <!-- Botão hambúrguer para mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alternar navegação">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Itens do menu -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto"> <!-- ms-auto para alinhar à direita -->
            <li class="nav-item active">
              <a class="nav-link" href="/">INÍCIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="mostrarAvisoManutencao()">REVISTA ELETRÔNICA</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="mostrarAvisoManutencao()">ENSINO, PESQUISA E INOVAÇÃO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="mostrarAvisoManutencao()">APOIO PSICOPEDAGÓGICO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" (click)="mostrarAvisoManutencao()">SUPERVISÃO DE ESTÁGIO</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>




  <!-- hero Section -->
  <section class="hero-pesquisa"></section>
  <section class="cont-main-pesquisa">
    <div class="container-pesquisa">
      <div class="cont-items-pesquisa">
        <img src="pesquisa01.jpg" alt="" class="items-pesquisa">
        <img src="pesquisa02.jpg" alt="" class="items-pesquisa">
        <img src="pesquisa03.jpg" alt="" class="items-pesquisa">
        <img src="pesquisa04.jpg" alt="" class="items-pesquisa">
      </div>
    </div>
  </section>