<section class="hero">
  <video
  autoplay
  loop
  playsinline
  onloadedmetadata="this.muted = true"
  class="hero-video"
>
  <source src="/video.mp4" type="video/mp4" />
  Seu navegador não suporta vídeos HTML5.
</video>

    <div class="hero-content">
        <h1>VESTIBULAR 2° SEMESTRE 2025</h1>
        <a class="bg-[#047DF6] text-white font-bold px-10 py-4 rounded hover:bg-[#0368cc] active:scale-95 transition"
            href="https://portais.qualinfonet.com.br/fkb/acadweb.modulo.eventos.php?">
            INSCREVA-SE
        </a>
    </div>
</section>