<footer class="footer py-4" style="background-color: #0A131D; color: #f0f0f0;">
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>CONTATOS FACULDADES</h5>
          <ul class="list-unstyled">
            <li><a (click)="openAlert('diretoria-geral')"><img src="check.png" alt="Diretoria Geral"> DIRETORIA GERAL</a></li>
            <li><a (click)="openAlert('coordenacao')"><img src="check.png" alt="Coordenação"> COORDENAÇÃO</a></li>
            <li><a (click)="openAlert('secretaria')"><img src="check.png" alt="Secretaria"> SECRETARIA</a></li>
            <li><a (click)="openAlert('ouvidoria')"><img src="check.png" alt="Ouvidoria"> OUVIDORIA</a></li>
            <li><a (click)="openAlert('saae')"><img src="check.png" alt="SAAE"> SAAE</a></li>
            <li><a (click)="openAlert('sti')"><img src="check.png" alt="STI"> STI</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <h5>CONTATOS FUNDAÇÃO</h5>
          <ul class="list-unstyled">
            <li><a (click)="openAlert('diretoria-executiva')"><img src="check.png" alt="Diretoria Executiva"> DIRETORIA EXECUTIVA</a></li>
            <li><a (click)="openAlert('marketing')"><img src="check.png" alt="Marketing"> MARKETING</a></li>
            <li><a (click)="openAlert('financeiro')"><img src="check.png" alt="Financeiro"> FINANCEIRO</a></li>
            <li><a (click)="openAlert('cape')"><img src="check.png" alt="CAPE"> CAPE</a></li>
            <li><a (click)="openAlert('rh')"><img src="check.png" alt="RH"> RH</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-12 mb-4">
          <h5>OUTROS</h5>
          <p><img src="tel.png" alt="Telefone"> Fone: (15) 3376-9300</p>
          <p><img src="loc.png" alt="Endereço"> Rod. Raposo Tavares, km 162<br>Vila Nova Itapetininga, Itapetininga - SP<br>cep: 18203-340</p>
        </div>
      </div>
    </div>
  </footer>
  
  <div class="rod">
    <p>&copy; 2021 FKB. Todos os Direitos Reservado.</p>
  </div>
  